apiVersion: v1
kind: Secret
metadata:
  name: invoices-microservice-secret
  namespace: statex-apps
type: Opaque
stringData:
  DB_PASSWORD: "replace-me"
  INVOICES_INTERNAL_SERVICE_TOKEN: "replace-me"
  ORDERS_SERVICE_TOKEN: "replace-me"
  PAYMENTS_API_KEY: "replace-me"
  NOTIFICATIONS_SERVICE_TOKEN: "replace-me"
  INVOICE_SELLER_NAME: "replace-me"
  INVOICE_SELLER_ADDRESS: "replace-me"
  INVOICE_SELLER_COMPANY_ID: "replace-me"
  INVOICE_SELLER_TAX_ID: "replace-me"
  INVOICE_SELLER_VAT_ID: "replace-me"
  INVOICE_SELLER_EMAIL: "replace-me"
