apiVersion: v1
kind: Secret
metadata:
  name: invoices-microservice-secret
  namespace: statex-apps
type: Opaque
stringData:
  DB_PASSWORD: "replace-me"
  INVOICES_INTERNAL_SERVICE_TOKEN: "replace-me"
  ORDERS_SERVICE_TOKEN: "replace-me"
  PAYMENTS_API_KEY: "replace-me"
  NOTIFICATIONS_SERVICE_TOKEN: "replace-me"
