apiVersion: v1
kind: Secret
metadata:
  name: invoices-microservice-seller-secret
  namespace: statex-apps
type: Opaque
stringData:
  INVOICE_SELLER_NAME: "replace-me"
  INVOICE_SELLER_ADDRESS: "replace-me"
  INVOICE_SELLER_COMPANY_ID: "replace-me"
  INVOICE_SELLER_TAX_ID: "replace-me"
  INVOICE_SELLER_VAT_ID: "replace-me"
  INVOICE_SELLER_EMAIL: "replace-me"
